{% extends '_base.html' %}
{% load static %}

{% block body %}

    {% if messages %}
        {% for message in messages %}
            <div>
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            </div>
        {% endfor %}
    {% endif %}

    <!-- stat hero -->

    <section class="p-0">
        <div class="bg-image" style="background-image: url({% static 'img/slide-1.jpg' %});">
            <div>
                <div class="row">
                    <div class="col">
                        <div class="texts">
                            <h2 class="text-white">Vehicle Details</h2>
                        </div>
                    </div>
                </div>
                <div class="form wow slideInRight info-form">
                    <form class="booking-widget white-text" style="cursor:default" action="{% url 'reservations:rezerv' %}" method="get">
                        {% csrf_token %}
                        <div hidden>
                            <input type="text" name="FullService" readonly value="{{ FullService }}">
                            <input type="text" name="InterimService" readonly value="{{ InterimService }}">
                        </div>
                        <div>
                            <div class="row row-cols-1 row-cols-lg-3">
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Make</label>
                                        <input type="text" readonly value="{{ response.make }}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Colour</label>
                                        <input type="text" readonly value="{{ response.colour }}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Fuel Type</label>
                                        <input type="text" readonly value="{{ response.fuelType }}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Engin Capacity</label>
                                        <input type="text" readonly value="{{ response.engineCapacity }}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Mot Status</label>
                                        <input type="text" readonly value="{{ response.motStatus }}">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="vehicle-info">
                                        <label for="">Year Of Manufacture</label>
                                        <input type="text" readonly value="{{ response.yearOfManufacture }}">
                                    </div>
                                </div>
                            </div>

                            <div class="text-end mt-4">
                                <button type="submit" class="btn blue">Next</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </section>

    <!-- end hero -->





    <!-- script -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script>
        // wow
        new WOW().init();


    </script>
{% endblock body %}